@keyframes morph{
    0%,100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 72% 28% 48% 48% /28% 28% 72% 72%;
    }
    66%{
        border-radius: 100% 56% 56% 100% /100% 100% 56% 56%;
    }
}
body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cantainer {
    background:linear-gradient(45deg,rgb(215, 94, 94),rgb(116, 148, 20));
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}



.profilebox{
text-align: center;
background: #e46c6c;
position: relative;
border-radius: 40px;
width: 370px;
height: 290px;

transition: 0.6s;



}
.profilebox:hover{
    height: 500px;
}
.blob{
    
    width: 150px;
    height: 150px;

    
    border-radius: 42% 56% 72% 28% /42% 42% 56% 48%;
    background: #8f44fd url(./ghgh6f.jpg);
    background-size: cover;
    background-position: center;
    animation: morph 3.75s linear infinite;
    border: 8px solid red;
    top: -50px;
    left:50%;
    overflow: hidden;
    position: absolute;
    transition: 0.5s;
    transform: translateX(-50%);
    

}
.blob img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.profilebox:hover .blob{
    width: 250px;
    height: 250px;
}
.profilebox .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.5s;
    overflow: hidden;

    
}
.profilebox .content .detail{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
    
.profilebox:hover .content .detail{
    transform: translateY(0px);
}

.profilebox .content .detail h2{
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2em;
}
.profilebox .content .socialmedia{
    display: flex;
    justify-content: space-between;
    margin: 5px ;
}
.profilebox .content .socialmedia img{
    border: 3px solid white;
    border-radius: 100px;
}
.btn{
    display: flex;
    justify-content: space-between;
    
}
  button {
    padding: 10px 10px;
    border: 5px solid red;
    border-radius: 10px;
    cursor: pointer;
}
.socialmedia a{
    text-decoration: none;
}
.profilebox .content .btn button:nth-child(2){
    background: whitesmoke;
}