body{
    margin: 0px;
    padding:0px;
    background: #f1f1f1;
    font-family:arial;
    box-sizing: border-box;

}
.main{
    width: 300px;
    height: 430px;
    background:#FFF;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}
.head{
    height: 150px;
    background: #7F00FF;

}
.bottom{
    height: 280px;
    background: #FFF;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.image{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}
.image img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.bottom h3,h4{
   box-sizing: border-box;
   line-height: .6;
   font-weight: lighter;
}
.bottom h4{
    color: #7F00FF;
    opacity: .6;
    font-weight: bold;
 }
 .bottom p{
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
 }
 .bottom .btn{
    padding: 12px 20px;
    background: #7F00FF;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;

 }
 .bottom .btn:hover{
    background: transparent;
    color: #7F00FF;
    border: 2px solid #7F00FF;
 }
