*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(./images/color-2174065.png); /* You can change background here*/
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 10px 40px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    background-color: rgba(11, 11, 19, 0.453);
}
.card h2{
    font-size: 25px;
}
.card img{
    width: 140px;
    border-radius: 50%;
    font-weight: 600;
    margin-top: 20px;
}

.card p{
    font-size: 21px;
    margin: 10px auto;
    max-width: 330px;
    color: rgb(245, 245, 220);
}

.card .links img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.card .links img:hover{
    background:white;
    box-shadow: 0 0 10px rgb(169, 205, 235);
    transform: scale(1.2);
    transition: 0.5s;
}

.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    margin: 30px 0 10px;
    background-color:rgba(0, 0, 0, 0.685) ;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    font-weight: medium;
    box-shadow: 0 0 20px rgb(169, 205, 235);
    color: black;
    transition: 0.5s;
    transform: scale(1.1);
    
}
