html {
    overflow-x: hidden;
}

body {
    text-align: center;
    background-color: #1c1a1a;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
}

section {
    margin-top: 4rem;
    height: 100vh;
    margin-bottom: 100px;
}

h1 {
    font-size: 30px;
    color: black;
}

#profile {
    position: block;
    height: 199px;
    align-content: center;
    border-radius: 140px;
}

.center {
    margin-top: 10rem;
}

.name {
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 35px;
    text-align: center;
}

#bio {
    font-size: 15px;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5rem;
    margin: auto;
}

#container-bio {
    width: 80%;
    margin: auto;
}

#contact {
    text-align: center;
    margin-top: 81px;
}

.iconBio {
    color: #e5e5e5;
    text-decoration: none;
    display: -webkit-inline-box;
    flex-direction: row;
    flex-wrap: wrap;

    transition: color 0.10s;
    margin-right: 15px;
    transition: color 0.1s;

}

.iconBio:hover {
    color: rgba(229, 229, 229, 0.3);
    text-decoration: none;
}

.iconBio > img {
    margin-right: 7px;
}

#languages {
    margin-top: -2rem;
    text-align: right;
    margin-right: 5rem;
}

.btnLanguage {
    color: #e5e5e5;
    background-color: transparent;
    border: #e5e5e5 1px solid;
    padding: 10px;
    margin: 5px;
}

.skill {
    margin: auto;
    height: 350px;
}

#allProjects {
    margin: 100px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.repoUrl {
    color: #e5e5e5;
    text-decoration: none;
    transition: color 0.1s;
}

.repoUrl:hover {
    text-decoration: none;
    color: rgba(229, 229, 229, 0.3);
}

.project {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #e5e5e5;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
    width: 300px;
    padding: 10px 0;
    height: 100%;
}

#language {
    border: #e5e5e5 1px solid;
    border-radius: 4px;
    padding: 0 5px;
    margin-bottom: 0;
    width: fit-content;
    margin: auto;
}

#description {
    min-height: 100px;
    margin: 10px 10px;
    text-align: center;
}

#projectTitle {
    font-size: 14px;
    font-weight: bold;
}

.devToIcon {
    height: 26px; 
    width: 24px;
}

@media (max-width: 930px) {
    #allProjects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #skills {
        margin-top: 200px;
        height: auto;
    }

    .project {
        margin-bottom: 30px;
    }

    #projects {
        margin-top: 300px;
    }

    .skill {
        height: 100px;
    }

    #contact {
        margin-top: 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #languages {
        margin-bottom: 23px;
    }
}
